
<launch>

    <machine
        name="pi_quadrus"
        address="192.168.4.1"
        env-loader="/home/ubuntu/quadrus_ws/src/S4H2021-QuadrUS/ros_packages/qd_joystick/launch/qd_remote_env.sh"
        default="true"
        user="ubuntu"
    />

    <!-- Joystick Node -->
    <node respawn="true" pkg="joy"
            type="joy_node" name="spot_joy" machine="pi_quadrus" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.05" />
        <param name="autorepeat_rate" value="100"/>
    </node>

    <!-- Teleop Node -->
    <node name="spot_teleop" pkg="qd_kinematics" type="teleop_node" output="screen">
    <param name="frequency" value="200.0" type="double"/>
    <param name="axis_linear_x" value="4" type="int"/>
    <param name="axis_linear_y" value="3" type="int"/>
    <param name="axis_linear_z" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="1.0" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>
    <param name="button_switch" value="0" type="int"/>
    <param name="button_estop" value="1" type="int"/>
    </node>

</launch>